@import url("../auka/bootstrap/css/bootstrap.min.css");
@import url("../auka/font-awesome/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway");
/*
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden; }

h1, h2, h3 {
  margin: 0;
  font-family: 'Raleway', sans-serif; }

a {
  color: #A8A7A6 !important; }

a:hover {
  color: #F8F7F6 !important; }
  a:hover h1 {
    color: #F8F7F6 !important; }

.shrink {
  height: 50px !important;
  transition: 0.5s; }
  .shrink #navbar .nav {
    margin-top: 0;
    transition: 0.5s; }
  .shrink .navbar-brand {
    margin-top: 0;
    transition: 0.5s; }
    .shrink .navbar-brand h1 {
      font-size: 36px;
      margin-top: -10px;
      transition: margin-top .5s, font-size .5s, color 0s; }

.hvitur-header .navbar-inverse {
  background: #F8F7F6;
  transition: .5s; }
.hvitur-header nav .navbar-brand h1:hover {
  color: #282726 !important; }
.hvitur-header #navbar {
  background: #F8F7F6;
  transition: .5s; }
  .hvitur-header #navbar .nav li a:hover {
    color: #282726 !important; }
  .hvitur-header #navbar .nav li a:before {
    background-color: #282726; }

.fade {
  opacity: 1; }

header .navbar-inverse {
  background: #282726;
  border: 0;
  transition: .5s; }
header nav {
  height: 100px;
  transition: 0.5s; }
  header nav .navbar-brand {
    margin-top: 10px;
    transition: 0.5s; }
    header nav .navbar-brand h1 {
      font-size: 48px;
      transition: margin-top .5s, font-size .5s, color 0s; }
  header nav #navbar {
    background: #282726;
    font-size: 18px;
    transition: .5s; }
    header nav #navbar .nav {
      margin-top: 25px;
      transition: 0.5s; }
      header nav #navbar .nav li a {
        padding: 0;
        margin: 15px;
        position: relative; }
      header nav #navbar .nav li a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: #F8F7F6;
        transform: scaleX(0);
        transform-origin: right;
        transition: all 0.3s ease-in-out 0s; }
      header nav #navbar .nav li a:hover:before {
        transform: scaleX(1); }

#land-page {
  background: #F8F7F6;
  height: 700px;
  overflow: hidden;
  border: 1px solid black; }
  #land-page .or {
    position: fixed;
    right: 15px;
    bottom: 15px; }
    #land-page .or img {
      transform: rotate(90deg);
      background: #282726;
      padding: 5px;
      border-radius: 5px; }
  #land-page .container {
    margin-top: 90px; }
  #land-page h1 {
    margin-top: 100px;
    font-size: 250px;
    text-align: center;
    color: #282726;
    line-height: 150px;
    overflow: visible; }
  #land-page .land-page-logo .char1, #land-page .land-page-logo .char2, #land-page .land-page-logo .char3, #land-page .land-page-logo .char4 {
    display: inline-block; }
  #land-page .land-page-logo .char1 {
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
    animation-name: nidurvinstri; }
  #land-page .land-page-logo .char2 {
    color: #A8A7A6;
    animation-duration: 1s;
    animation-delay: 2.1s;
    animation-fill-mode: both;
    animation-name: nidur; }
  #land-page .land-page-logo .char3 {
    animation-duration: 1s;
    animation-delay: 0.9s;
    animation-fill-mode: both;
    animation-name: nidur; }
  #land-page .land-page-logo .char4 {
    color: #A8A7A6;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    animation-name: nidurhaegri; }
  #land-page .land-page-logo2 .char1, #land-page .land-page-logo2 .char2, #land-page .land-page-logo2 .char3, #land-page .land-page-logo2 .char4 {
    display: inline-block; }
  #land-page .land-page-logo2 .char1 {
    color: #A8A7A6;
    animation-duration: 1s;
    animation-delay: 2.4s;
    animation-fill-mode: both;
    animation-name: uppvinstri; }
  #land-page .land-page-logo2 .char2 {
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode: both;
    animation-name: upp; }
  #land-page .land-page-logo2 .char3 {
    color: #A8A7A6;
    animation-duration: 1s;
    animation-delay: 1.8s;
    animation-fill-mode: both;
    animation-name: upp; }
  #land-page .land-page-logo2 .char4 {
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-fill-mode: both;
    animation-name: upphaegri; }

#tonlistarmenn {
  background: #282726;
  height: 1375px; }
  #tonlistarmenn .art2 {
    margin-top: 75px; }
  #tonlistarmenn .artist {
    margin-top: 75px;
    padding-top: 25px;
    height: 550px;
    background: linear-gradient(125deg, #323130, #282726);
    border-radius: 325px 325px 25px 25px; }
    #tonlistarmenn .artist .crop-mynd {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      transition: .4s ease-in-out; }
      #tonlistarmenn .artist .crop-mynd .kiasmos img {
        position: relative;
        right: 85px;
        height: 100%; }
      #tonlistarmenn .artist .crop-mynd .kolombo img {
        position: relative;
        right: 30px;
        height: 100%; }
      #tonlistarmenn .artist .crop-mynd .goldlink img {
        position: relative;
        right: 100px;
        height: 100%; }
      #tonlistarmenn .artist .crop-mynd .chris img {
        position: relative;
        right: 85px;
        height: 100%; }
      #tonlistarmenn .artist .crop-mynd .carmack img {
        position: relative;
        right: 30px;
        height: 100%; }
      #tonlistarmenn .artist .crop-mynd .flava img {
        position: relative;
        right: 100px;
        height: 100%; }
    #tonlistarmenn .artist .crop-mynd:hover {
      transform: scale(1.02) rotate(3deg);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }
    #tonlistarmenn .artist .texti {
      margin-top: 25px;
      padding: 10px;
      text-align: left; }
      #tonlistarmenn .artist .texti h1 {
        color: #F8F7F6;
        font-weight: bolder;
        font-size: 32px;
        letter-spacing: 5px;
        margin-bottom: 10px;
        text-align: right;
        transition: .4s ease-in-out; }
      #tonlistarmenn .artist .texti h1:hover {
        color: #FCAB10;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }
      #tonlistarmenn .artist .texti p {
        color: #A8A7A6;
        font-size: 16px;
        font-weight: lighter; }
  #tonlistarmenn .ofugt-artist {
    border-radius: 25px 25px 325px 325px;
    padding-top: 0;
    padding-bottom: 25px;
    height: 550px;
    background: linear-gradient(-45deg, #323130, #282726); }
    #tonlistarmenn .ofugt-artist .texti {
      margin-bottom: 40px;
      text-align: left; }
    #tonlistarmenn .ofugt-artist .texti-chris {
      margin-bottom: 10px; }

@keyframes nidur {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
@keyframes nidurvinstri {
  from {
    opacity: 0;
    transform: translate3d(-100%, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
@keyframes nidurhaegri {
  from {
    opacity: 0;
    transform: translate3d(100%, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
@keyframes upp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
@keyframes uppvinstri {
  from {
    opacity: 0;
    transform: translate3d(-100%, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
@keyframes upphaegri {
  from {
    opacity: 0;
    transform: translate3d(100%, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
@media screen and (min-width: 1680px) {
  #land-page {
    height: 950px; }
    #land-page h1 {
      margin-top: 150px;
      font-size: 300px; }

  #tonlistarmenn {
    height: 1800px; }
    #tonlistarmenn .texti {
      margin-top: 50px; }
    #tonlistarmenn .artist {
      margin-top: 150px; }
    #tonlistarmenn .art2 {
      margin-top: 200px; } }

/*# sourceMappingURL=stilsida.css.map */
