// IMPORTS

@import url("../auka/bootstrap/css/bootstrap.min.css");
@import url("../auka/font-awesome/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

// LETUR

/*
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

// VARIABLES

$hvitur: #F8F7F6;
$grar: #A8A7A6;
$dokk-grar: #585756;
$svartur: #282726;
$tan: #DBD5B5;
$blar: #2B9EB3;
$gulur: #FCAB10;
$raudur: #F8333C;
$graenn: #44AF69;

// MIXINS

@mixin animate($timi, $delay, $nafn) {
  animation-duration: $timi;
  animation-delay: $delay;
  animation-fill-mode: both;
  animation-name: $nafn;
}

@mixin trans($timi: 1s) {
	transition: $timi;
}

// GLOBAL

body {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

h1, h2, h3 {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

a {
	color: $grar !important;
}

a:hover {
	color: $hvitur !important;
	h1 {
		color: $hvitur !important;
	}
}

.shrink {
	height: 50px !important;
	@include trans(.5s);
	#navbar {
		.nav {
			margin-top: 0;
			@include trans(.5s);
		}
	}
	.navbar-brand {
		margin-top: 0;
		@include trans(.5s);
		h1 {
			font-size: 36px;
			margin-top: -10px;
			transition: margin-top .5s, font-size .5s, color 0s;
		}
	}
}

.hvitur-header {
	.navbar-inverse {
		background: $hvitur;
		transition: .5s;
	}
	nav {
		.navbar-brand {
			h1:hover {
				color: $svartur !important;
			}
		}
	}
	#navbar {
		background: $hvitur;
		transition: .5s;
		.nav {
			li {
				a:hover {
					color: $svartur !important;
				}
				a:before {
					background-color: $svartur;
				}
			}
		}
	}
}

.fade {
	opacity: 1;
}

// STYLES

// header
header {
	.navbar-inverse {
		background: $svartur;
		border: 0;
		transition: .5s;
	}
	nav {
		height: 100px;
		@include trans(.5s);
		.navbar-brand {
			margin-top: 10px;
			@include trans(.5s);
			h1 {
				font-size: 48px;
				transition: margin-top .5s, font-size .5s, color 0s;
			}
		}
		#navbar {
			background: $svartur;
			font-size: 18px;
			transition: .5s;
			.nav {
				margin-top: 25px;
				@include trans(.5s);
				li {
					a {
						padding: 0;
						margin: 15px;
						position: relative;
					}
					a:before {
					  content: "";
					  position: absolute;
					  width: 100%;
					  height: 2px;
					  bottom: -5px;
					  left: 0;
					  background-color: $hvitur;
					  transform: scaleX(0);
					  transform-origin: right;
					  transition: all 0.3s ease-in-out 0s;
					}
					a:hover:before {
					  transform: scaleX(1);
					}
				}
			}
		}
	}
}

// Land page
#land-page {
	background: $hvitur;
	height: 700px;
	overflow: hidden;
	border: 1px solid black;
	.or {
		position: fixed;
		right: 15px;
		bottom: 15px;
		img {
			transform: rotate(90deg);
			background: $svartur;
			padding: 5px;
			border-radius: 5px;
		}
	}
	.container {
		margin-top: 90px;
	}
	h1 {
		margin-top: 100px;
		font-size: 250px;
		text-align: center;
		color: $svartur;
		line-height: 150px;
		overflow: visible;
	}
	.land-page-logo {
		.char1, .char2, .char3, .char4 {
			display: inline-block;
		}
		.char1{
			@include animate(1s, .3s, nidurvinstri);
		}
		.char2{
			color: $grar;
			@include animate(1s, 2.1s, nidur);
		}
		.char3{
			@include animate(1s, .9s, nidur);
		}
		.char4{
			color: $grar;
			@include animate(1s, 1.5s, nidurhaegri);
		}
	}
	.land-page-logo2 {
		.char1, .char2, .char3, .char4 {
			display: inline-block;
		}
		.char1{
			color: $grar;
			@include animate(1s, 2.4s, uppvinstri);
		}
		.char2{
			@include animate(1s, .6s, upp);
		}
		.char3{
			color: $grar;
			@include animate(1s, 1.8s, upp);
		}
		.char4{
			@include animate(1s, 1.2s, upphaegri);
		}
	}
}

// Tónlistarmenn
#tonlistarmenn {
	background: $svartur;
	height: 1375px;
	.art2 {
		margin-top: 75px;
	}
	.artist {
		margin-top: 75px;
		padding-top: 25px;
		height: 550px;
		background: linear-gradient(125deg, lighten($svartur, 4%), $svartur);
		border-radius: 325px 325px 25px 25px;
		.crop-mynd {
			width: 300px;
			height: 300px;
			border-radius: 50%;
			overflow: hidden;
			margin: 0 auto;
			transition: .4s ease-in-out;
			.kiasmos {
				img {
					position: relative;
					right: 85px;
					height: 100%;
				}
			}
			.kolombo {
				img {
					position: relative;
					right: 30px;
					height: 100%;
				}
			}
			.goldlink {
				img {
					position: relative;
					right: 100px;
					height: 100%;
				}
			}
			.chris {
				img {
					position: relative;
					right: 85px;
					height: 100%;
				}
			}
			.carmack {
				img {
					position: relative;
					right: 30px;
					height: 100%;
				}
			}
			.flava {
				img {
					position: relative;
					right: 100px;
					height: 100%;
				}
			}
		}
		.crop-mynd:hover {
			transform: scale(1.02) rotate(3deg);
			box-shadow: 0px 0px 10px rgba(0,0,0,.5);
		}
		.texti {
			margin-top: 25px;
			padding: 10px;
			text-align: left;
			h1 {
				color: $hvitur;
				font-weight: bolder;
				font-size: 32px;
				letter-spacing: 5px;
				margin-bottom: 10px;
				text-align: right;
				transition: .4s ease-in-out;
			}
			h1:hover {
				color: $gulur;
				text-shadow: 0px 0px 5px rgba(0,0,0,.3);
			}
			p {
				color: $grar;
				font-size: 16px;
				font-weight: lighter;
			}
		}
	}
	.ofugt-artist {
		border-radius: 25px 25px 325px 325px;
		padding-top: 0;
		padding-bottom: 25px;
		height: 550px;
		background: linear-gradient(-45deg, lighten($svartur, 4%), $svartur);
		.texti {
			margin-bottom: 40px;
			text-align: left;
		}
		.texti-chris {
			margin-bottom: 10px;
		}
	}
}

// ANIMATIONS

@keyframes nidur {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes nidurvinstri {
  from {
    opacity: 0;
    transform: translate3d(-100%, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes nidurhaegri {
  from {
    opacity: 0;
    transform: translate3d(100%, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes upp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes uppvinstri {
  from {
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes upphaegri {
  from {
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

// MEDIA QUERIES
@media screen and (min-width: 1680px) {
	#land-page {
		height: 950px;
		h1 {
		margin-top: 150px;
		font-size: 300px;
		}
	}

	#tonlistarmenn {
		height: 1800px;
		.texti {
			margin-top: 50px;
		}
		.artist {
			margin-top: 150px;
		}
		.art2 {
			margin-top: 200px;
		}
	}
}